* -text
*.cs        text eol=lf diff=csharp
*.shader    text eol=lf
*.cginc     text eol=lf
*.hlsl      text eol=lf
*.compute   text eol=lf
*.meta      text eol=lf
*.engine filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
